button, input[type="button"], input[type="submit"] {
  text-decoration: none;
  border: none;
}


.main-container{
  font-family:$body-font;
}

$fontSize1: .5rem;
$fontSize2: 1rem;
$fontSize3: 1.5rem;
$fontSize4: 2rem;
$fontSize5: 2.5rem;
