.header-container{
  height: 15vh;
  margin: 1vh 10vw 1vh 10vw;

}
.header-top-container{
  display: flex;
  justify-content: space-between;
  margin: 2vh 5vw 0vh 5vw;
}
.logo-container{

}
.logo{
  height: 10vh;
}
.menu-button{

}
.info{
  display: none;
}
.bottom-container{
  display: flex;
}
.nav-box{
  height: 4vh;
  width: 20vw;
  border: 1px solid black;

}

@media (min-width: 768px) {
  .info{
    display: block;
  }
  .menu-button{
    display: none;
  }
}
@media (min-width: 1224px) {

}
